<div class="input">
    <label class="input__label">
        <input class="input__text" {{error}} name="{{name}}" type="{{type}}" required>
        <span class="input__placeholder">{{label}}</span>
        <span class="input__error">{{errorText}}</span>
    </label>
</div>